*{
    background-color: rgb(16, 49, 5);
    text-decoration: black;
}


#title{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20px;
    /* font-size: 2em ; */
}

#size{
    width: 300px;
    height: 50px;
    font-size: 1.5em ;
    margin-left: 37%;
}
#buton{
    width: 100px;
    height: 50px;
    margin-left: 100px;
}

table{
    padding-left: 45%;
    /* align-items: center ; */
    padding-top: 100px;
}